@use "../../Variables.scss" as variable;

.project-section {

    // text-align: center;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    

    .title {
        border-bottom-color: transparent;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        text-transform: capitalize;
        width: fit-content;

        &.line-software {
            border-bottom-color: variable.$software
        }

        &.line-agile {
            border-bottom-color: variable.$agile
        }

        &.line-design {
            border-bottom-color: variable.$design
        }

    }

    .sub-title {
        text-transform: uppercase;
    }

    .content {
        margin-top: 24px;
    }

    .link {
        margin-top: 24px;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}