@use "../../Variables.scss" as variable;

.persona {
    padding: 16px;
    margin: 16px;
    background-color: variable.$inner-color;
    box-shadow: 0 3px 0 #ddd;
    border-radius: 0.25em;
    border-top: 4px solid transparent;

    &.persona-software {
        border-top-color: variable.$software;
    }

    &.persona-agile {
        border-top-color: variable.$agile;
    }

    &.persona-design {
        border-top-color: variable.$design;
    }

    .description {
        margin-bottom: 4px;
    }

    .persona-img {
        padding: 32px;
        background: variable.$background;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
        margin-bottom: 6px;

        img {
            margin: auto;
            height: 120px;
            width: auto; 
        }
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
    }
}
