@use "./../../Variables.scss" as variable;

.mr-navbar {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;

    // -webkit-box-shadow: 0px 5px 19px 2px variable.$background; 
    // box-shadow: 0px 5px 19px 2px variable.$background;

    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    // background: variable.$background;

    .mr-navbar-logo {
        font-family: 'Quattrocento';
        font-style: normal;
        color: variable.$black;

        &:hover {
            background-color: variable.$background!important;
        }
    }

    .mr-navbar-link {
        color: variable.$black;
        border-top-width: 4px;
        border-top-style:solid;
        border-top-color: transparent;
        font-family: 'Raleway';
        font-style: normal;
        font-size: variable.$p-size;
        font-weight: 400;

        &:hover {
            border-top-color: variable.$muted;
            background-color: variable.$background!important;
        }
    }
}