@use "../../Variables.scss" as variable;

.skill-container {
    margin-top: 4px;
    margin-bottom: 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    height: 80px;

    .kpi {

        &.software {
            color: variable.$software
        }

        &.agile {
            color: variable.$agile
        }

        &.design {
            color: variable.$design
        }

        font-weight: 400;
        font-size: variable.$h3-size;
        line-height: 44px;
        /* Auto layout */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 72px;
        height: 72px;

        /* Inner Color */

        background: variable.$inner-color;
        /* Black */

        border: 1.5px solid variable.$black;
        border-radius: 100%;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .skill-text {
        padding: 4px 4px 4px 0px;

        .title {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: variable.$p-size;
            color: variable.$black;
        }

        .sub-title {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: variable.$small-size;;
            color: variable.$muted;
        }

    }
}