@use "./Variables.scss" as variable;
@import 'w3-css';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Serif&family=Quattrocento&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: variable.$background;
}

.page-content {
    margin-top: 80px;
}

.fa-anchor,.fa-coffee {font-size:200px}

.w3-mr-software {
    color: variable.$inner-color;
    background-color: variable.$software!important;
}

.w3-mr-agile {
    color: variable.$inner-color;
    background-color: variable.$agile!important;    
}

.w3-mr-design {
    color: variable.$inner-color;
    background-color: variable.$design!important;
}