@use "./Variables.scss" as variable;
@import 'w3-css';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Serif&family=Quattrocento&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: variable.$background;
    background-image: url(https://cdn.discordapp.com/attachments/990816866618470440/1071515161418006598/marchinka_grey_background_for_website_made_just_be_lines_and_wa_fdd1a90c-0004-43b5-8893-0c5b0d23c3c2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode: overlay;
}

.page-content {
    margin-top: 80px;
}

.fa-anchor,.fa-coffee {font-size:200px}

.w3-mr-software {
    color: variable.$inner-color;
    background-color: variable.$software!important;
}

.w3-mr-agile {
    color: variable.$inner-color;
    background-color: variable.$agile!important;    
}

.w3-mr-design {
    color: variable.$inner-color;
    background-color: variable.$design!important;
}